.loading-icon {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px;
  .inline {
    width: 1.5rem;
    height: 1.5rem;
  }
  .section {
    width: 4rem;
    height: 4rem;
  }
}
button .loading-icon {
  display: inline-flex;
  width: auto;
}
