.variable-list {
  height: 100%;
  overflow-y: auto;
}

.download-all-button {
  padding-right: 1.25rem;
  display: flex;
  justify-content: flex-end;
}

.download-variable-button {
  display: flex;
  padding-top: 0.5rem;
  padding-right: 1.25rem;
  float: right;
}
